{% extends "layout.html.twig" %}
{% block contenu %}

	<h1 align="center"> Espace client site de ventes Projet Web 2 </h1>

	{% if donneeStock is defined and donneeStock is not empty %}
		<h2 align="center" style="color: red">La voiture choisie ({{ donneeStock.nom }}) n'est plus disponible.<br> Veuillez réessayer ultérieurement<br></h2>
	{% endif %}

	<form method="post" action="{{ path('Panier.index')}}">
		<div class="row">
			<fieldset>
				<legend>Rechercher une voiture via son type</legend>
				<label>Type de la voiture
					<select name="typeProduit_id">
						<option value="0">Toutes les voitures</option>
                        {% for typeProduit in typeProduits %}
							<option value="{{ typeProduit.id }}"
                                    {% if donnees.typeProduit_id is defined and typeProduit.id == donnees.typeProduit_id %}selected{% endif %}>
                                {{ typeProduit.libelle }}
							</option>
                        {% endfor %}
					</select>
				</label>
				<input type="hidden" id="_method" name="_method" value="put" />
				<input type="submit" name="researchProduit" value="Rechercher" />
			</fieldset>
		</div>
	</form>


	<div class="row">
        {% if donneesProduit is defined and donneesProduit is not empty %}
			<table align="center">
				<caption>Détails de la voiure</caption>
				<thead>
				<tr>
					<th>ID de la voiture</th><th>Nom de la voiture</th><th>Photo de la voiture</th><th>Prix de la voiture</th><th>Nombre en stock</th>
				</tr>
				</thead>
				<tbody>
                {% for produit in donneesProduit %}
					<tr>
						<td>{{produit.id}}</td><td>{{produit.nom}}</td><td>
							<img style="width:100px;height:70px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.nom}}" >
						</td><td>{{ produit.prix }} €</td><td>{{ produit.stock }}</td>
						<td>
							{% if produit.stock > 0 %}
								<a href="{{ path('Panier.add', {id: produit.id}) }}">Ajouter au panier</a>
							{% else %}
								<h5 style="color: red;">Epuisé</h5>
							{% endif %}
						</td>
						<td>
							<a href="{{ path('Panier.details', {id: produit.id}) }}">Details </a>
						</td>
					</tr>
                {% endfor %}
				<tbody>
			</table>
        {% else %}
            {% if donneesProduit is defined and donneesProduit is empty %}
				<h1 align="center" style="color: red">Aucun produit ne correspond au nom que vous avez entré.</h1>
            {% endif %}
        {% endif %}
	</div>

	<div class="row">
        {% if panier is not empty %}
			<table align="center">
				<caption>Panier</caption>
				<thead>
				<tr>
					<th>ID</th><th>Quantite</th><th>Prix</th><th>Date d'ajout au panier</th><th>ID de la voiture</th>
				</tr>
				</thead>
				<tbody>
                {% for produit in panier if panier is not empty %}
					<tr>
						<td>{{produit.id}}</td><td>{{produit.quantite}}</td><td>{{produit.prix}}</td><td>{{produit.dateAjoutPanier}}</td><td>{{ produit.produit_id }}</td>		</td>
						<td>
							<a href="{{ path('Panier.delete', {id: produit.id}) }}">Supprimer du panier</a>
						</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
			<div style="text-align: center;color: white;">Prix total : {{ prix.prixTotal }} €</div><br>
			<div style="text-align: center;"><a href="{{ path('commande.valider') }}">Valider la commande</a></div>
        {% else %}
			<div style="text-align: center;color: white">Vous n'avez pas de voiture dans votre panier</div>
        {% endif %}
		<br><br>
	</div>

{% endblock %}







