{% extends "layout.html.twig" %}

{% block contenu %}
    <div class="row">
        {% if donneesCommande is not empty %}
            <table align="center">
                <caption>Détails des commandes passées par les clients</caption>
                <thead>
                <tr>
                    <th>ID de la commande</th><th>ID de l'utilisateur</th><th>Prix total de la commande</th><th>Date de passage de la commande</th><th>Etat de la commande</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in donneesCommande %}
                    <tr>
                        <td>{{produit.id}}</td><td>{{produit.user_id}}</td><td>{{produit.prix}} €</td>
                        <td>{{ produit.date_achat }}</td><td>{{ produit.libelle }}</td>
                        <td><a href="{{ path('commande.voirCommande',{id: produit.id}) }}">Détails de la commande</a></td>
                        {% if produit.etat_id != 3 %}
                        <td><a href="{{ path('commande.modifierEtat',{id: produit.id}) }}">Modifier l'état de la commande</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        {% else %}
            <h1 align="center" style="color: red">Aucune commande n'a été passée pour le moment</h1>
        {% endif %}
    </div>

{% endblock %}