{% extends "layout.html.twig" %}

{% block contenu %}

    <form method="post" action="{{ path('produitClient.find')}}">
        <div class="row">
            <fieldset>
                <legend>Rechercher une voiture via son type</legend>
                <label>Type de la voiture
                    <select name="typeProduit_id">
                            <option value="0">Toutes les voitures</option>
                        {% for typeProduit in typeProduits %}
                            <option value="{{ typeProduit.id }}"
                                    {% if donnees.typeProduit_id is defined and typeProduit.id == donnees.typeProduit_id %}selected{% endif %}>
                                {{ typeProduit.libelle }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <input type="hidden" id="_method" name="_method" value="put" />
                <input type="submit" name="researchProduit" value="Rechercher" />
            </fieldset>
        </div>
    </form>


    <div class="row">
        {% if donneesProduit is defined and donneesProduit is not empty %}
            <table align="center">
                <caption>Détails des voitures</caption>
                <thead>
                <tr>
                    <th>ID de la voiture</th><th>Type de la voiture</th><th>Nom de la voiture</th><th>Photo de la voiture</th><th>Disponibilité</th><th>Nombre en stock</th>
                </tr>
                </thead>
                <tbody>
                {% for produit in donneesProduit %}
                    <tr>
                        <td>{{produit.id}}</td><td>{{produit.typeProduit_id}}</td><td>{{produit.nom}}</td>
                        <td>
                            <img style="width:100px;height:70px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.nom}}" >
                        </td><td>{{ produit.dispo }}</td> <td>{{ produit.stock }}</td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        {% else %}
            {% if donneesProduit is defined and donneesProduit is empty %}
                <h1 align="center" style="color: red">Aucunes voitures ne correspond au nom que vous avez entré.</h1>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}